* {
    box-sizing: border-box; 
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

input[type="date"] {
    background-color: black;
    color: #ccc;
    height: 100%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.top-navigation-bar {
    display: flex;
}

.top-left-flex-container {
    justify-content: flex-start;
    width: 20%;
}

.top-center-flex-container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 60%;
}

.top-center-flex-container li {
    float: left;
}

.top-center-flex-container a {
    display: block;
    color: #ccc;
    padding: 14px 16px;
    text-decoration: none;
}

.top-center-flex-container a:hover {
    color: #ccc;
    background-color: black;
}

.top-right-flex-container {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

#signout {
    padding: 14px 16px;
}

#timerLabel {
    background-color: blue;
}

.lesson-part {
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hallpass {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: grid;
    float: left;
    width: 85%;
    grid-template: repeat(6, 5vh auto) / 80% 20%;
}

.left-navigation-bar {
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    text-align: center;
    width: 15%;
    margin: 0;
    padding: 0;
    float: left;
}

li a {
    display: block;
    color: #ccc;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ccc;
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.flex-item {
    background-color: gray;
    width: 15vw;
    padding: 10px 0;
}

img {
    width: 50%;
    height: auto;
}

h3 {
    margin: 10px 0;
}

div select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.period-header-container {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    color: whitesmoke;
    background-color: cornflowerblue;
    padding: 0 10px;
}

.period-header {
    align-self: center;
}

.upload {
    align-self: center;
}

.notes-container {
    background-color: black;
    color: #ccc;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 13;
}