* {
    box-sizing: border-box; 
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

input[type="date"] {
    background-color: black;
    color: #ccc;
    height: 100%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.top-navigation-bar {
    display: flex;
}

.top-left-flex-container {
    justify-content: flex-start;
    width: 20%;
}

.top-left-flex-container a {
    display: block;
    color: #ccc;
    padding: 14px 16px;
    text-decoration: none;
}

.top-left-flex-container a:hover {
    color: #ccc;
    background-color: black;
}

.top-center-flex-container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 60%;
}

.top-center-flex-container li {
    float: left;
}

.top-center-flex-container a {
    display: block;
    color: #ccc;
    padding: 14px 16px;
    text-decoration: none;
}

.top-center-flex-container a:hover {
    color: #ccc;
    background-color: black;
}

.top-right-flex-container {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

#signout {
    padding: 14px 16px;
    color: #ccc;
    background-color: black;
    border: none;
}

#signout:hover {
    background-color: red;
}

#timerLabel {
    background-color: blue;
}

.lesson-part {
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hallpass {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: grid;
    float: left;
    width: 85%;
    grid-template-columns: 80% 20%;
}

.students-container {
    display: grid;
    float: left;
    grid-template-rows: repeat(6, 5vh auto);
}

.left-navigation-bar {
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    text-align: center;
    width: 15%;
    margin: 0;
    padding: 0;
    float: left;
}

li a {
    display: block;
    color: #ccc;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ccc;
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.flex-item {
    background-color: gray;
    width: 15vw;
    padding: 10px 0;
}

img {
    width: 50%;
    height: auto;
}

h3 {
    margin: 10px 0;
}

.flex-item select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-item input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.period-header-container {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    color: whitesmoke;
    background-color: cornflowerblue;
    padding-left: 10px;
}

.period-header {
    align-self: center;
}

.dropdown {
    align-self: center;
}

.dropbtn {
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: cornflowerblue;
}

.notes-container {
    background-color: black;
    color: #ccc;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 13;
}

#edit-user {
    padding: 0 10%;
}

.form-group {
    margin: 15px 0;
}

.form-group label {
    color: #ccc;
    display: block;
    margin: 0 0 6px;
}

.form-group #goal {
    display: block;
    margin: 0 0 6px;
    width: 75%;
}

.days-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #ddd;
    border-top-color: cornflowerblue;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.black-container {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.add-new-student-top-nav {
    display: flex;
}

.add-new-student-top-nav h3 {
    flex-grow: 1;
    text-align: center;
}

.addNewStudent {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 37.5%;
    left: 37.5%;
    width: 25%;
    height: 25%;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.add-new-student-form-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.cancel-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 14px 16px;
}
