doctype html
html(lang="en-us")
  head
    link(href='../static/styles.css' rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    nav
      ul(id='top-navigation-bar')
        li
          a(id='timerLabel' href='javascript:startButtonClicked()') 5:00
        li
          a(id='hallpassTimerLabel') 15:00
        li
          a(id='reset' href='javascript:resetButtonClicked()') Reset
    nav(class='navigation-bar')
      ul
        li
          a(href='#First') First Period
        li
          a(href='#Second') Second Period
        li
          a(href='#Third') Third Period
        li
          a(href='#Fourth') Fourth Period
        li
          a(href='#Sixth') Sixth Period
        li
          a(href='#Seventh') Seventh Period
    div(class='container')
      textarea(class='notes-container' name='notes')
      - for (var i = 0; i < students.length; i++)
        div(class='period-header-container' id= periods[i])
          h1(class='period-header')= periods[i]
          button(class='upload' onclick='uploadButtonClicked()') Upload
        div(class='flex-container')
          - for (var j = 0; j < students[i].length; j++)
            div(class='flex-item' id=students[i][j].id)
              img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png')
              h3= students[i][j].first_name
              select(onchange='onAttendanceValueChanged()')
                option(value="") --Attendance--
                option(value="Present") Present
                option(value="Tardy") Tardy
                option(value="Left Early") Left Early
                option(value="Absent") Absent
                option(value="No Session") No Session
                option(value="No School") No School
              input(type='number' min=0, max=4, onchange='onExitTicketGradeChanged()')
              button(onclick='gradeButtonClick()') G
              button(onclick='gradeButtonClick()') R
              button(onclick='gradeButtonClick()') A
              button(onclick='gradeButtonClick()') D
              button(onclick='gradeButtonClick()') E
              button(onclick='gradeButtonClick()') S
      script(type='text/javascript', src='../index.js', onload='getStudentRows()')
      //- script(type='text/javascript', src='../gapi.js')
      //- script(async defer src='https://apis.google.com/js/api.js' onload='gapiLoaded()')
      //- script(async defer src='https://accounts.google.com/gsi/client' onload='gisLoaded()')