<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul id="top-navigation-bar"> 
                <li><a id="timerLabel" href="javascript:startButtonClicked()">5:00</a></li>
                <li><a id="hallpassTimerLabel">15:00</a></li>
                <li><a id="reset" href="javascript:resetButtonClicked()">Reset</a></li>
            </ul>
        </nav>
        <nav class="navigation-bar">
            <ul>
                <li><a href="#First">First Period</a></li>
                <li><a href="#Second">Second Period</a></li>
                <li><a href="#Third">Third Period</a></li>
                <li><a href="#Fourth">Fourth Period</a></li>
                <li><a href="#Sixth">Sixth Period</a></li>
                <li><a href="#Seventh">Seventh Period</a></li>
            </ul>
        </nav>
        <div class="container">
            
        </div>
        
        <script type="text/javascript" src="../student.js"></script>
        <script type="text/javascript" src="../index.js"></script>
        <!-- <script type="text/javascript" src="webpack.config.js"></script> -->
        <script type="text/javascript" src="../gapi.js"></script>
        <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
        <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    </body>
</html>